* {
    margin: 0;
}

body {
    background-color: #fff9f0;
}

main {
    margin: 0% 10%;
}

footer {
    margin: auto;
    text-align: center;
    padding: 20px 0px;
}

footer img {
    width: 2%;
    padding: 7px;
}

footer h6 {
    font-family: 'Gruppo', sans-serif;
    font-size: 12px;
    padding: 7px;
}

nav {
	padding: 25px;
	margin: auto;
    margin-left: -40px;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff9f0;
    z-index: 12;
}

nav a {
    color: #91b0f9;
    text-decoration: none;
    margin: 15px;
    font-family: 'Gruppo', sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

nav a:hover {
    border: 1.5px solid #91b0f9;
    border-radius: 7px;
    padding: 5px;
    transition-duration: 300ms;
}

nav a.active {
	color: #fff9f0;
    background-color: #132fba;
    border: 1.5px solid #132fba;
    border-radius: 7px;
    padding: 3px 5px;
}

h3 {
    text-align: left;
    font-family: 'Handjet', sans-serif;
    font-size: 65px;
    color: #132fba;
    padding-top: 60px;
    padding-bottom: 55px;
    letter-spacing: 2px;
}

.box {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.cell{
    width: 50%;
    margin: auto;
    padding-top: 2%;
}

#gif {
    width: 80%;
    margin: auto;
    justify-content: right;
}

header img {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 15px;
    max-width: 95px;
}

h2 {
    display: flex;
    flex-direction: row;
    font-family: 'Handjet', sans-serif;
    text-align: right;
    font-size: 95px;
    width: auto;
    color: #132fba;
    margin-top: 10%;
}

#splash-text {
    margin-right: 5%;
    padding-left: -5%;
    display: inline;
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: #020c3d;
}

.bio-p {
    margin: 10% 15% 15% 0%;
}

li {
    display: inline;
}

.description-p {
    padding-bottom: 5%;
    margin-top: 25px;
    margin-bottom: 35px;
    padding-left: 5%;
    padding-right: 5%;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    margin-top: 10x;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0;
    max-width: 100%;
    overflow: hidden;
    height: 4rem;
    box-sizing: content-box;
}

.ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite; 
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
   -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.ticker-item {
    display: inline-block;
    padding: 0 2rem;
    font-family: 'Handjet', sans-serif;
    font-weight: bold;
    font-size: 65px;
    color: #132fba;   
}