* {
    margin: 0;
}

body {
    background-color: #fff9f0;
    margin: 0% 10%;
}

nav {
    text-align: center;
    margin-left: -4%;
    padding-top: 45px;
    padding-bottom: 35px;
}

nav a {
    color: #91b0f9;
    text-decoration: none;
    margin: 15px;
    font-family: 'Gruppo', sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

nav a:hover {
	color: #020c3d;
}

nav a.active {
	color: #132fba;
}

h3 {
    text-align: center;
    font-family: 'Handjet', sans-serif;
    font-size: 65px;
    color: #132fba;
    padding-top: 60px;
    padding-bottom: 55px;
    letter-spacing: 2px;
}

header img {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 95px;
}

.profile-img {
    display: flex;
    flex-direction: column;
    max-width: 35%;
}

h2 {
    display: flex;
    flex-direction: column;
    font-family: 'Handjet', sans-serif;
    text-align: right;
    font-size: 95px;
    max-width: 90%;
    color: #132fba;
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: #020c3d;
}

.bio-p {
    margin: 10% 15%;
}

li {
    display: inline;
}