* {
    margin: 0;
}

body {
    background-color: #fff9f0;
}

main {
    margin: 0% 10%;
}

nav {
	padding: 25px;
	margin: auto;
    margin-left: -40px;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff9f0;
    /* filter: blur(10px); */
}

nav a {
    color: #91b0f9;
    text-decoration: none;
    margin: 15px;
    font-family: 'Gruppo', sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

nav a:hover {
    border: 1.5px solid #91b0f9;
    border-radius: 7px;
    padding: 5px;
    transition-duration: 300ms;
}

nav a.active {
	color: #fff9f0;
    background-color: #132fba;
    border: 1.5px solid #132fba;
    border-radius: 7px;
    padding: 3px 5px;
}

h3 {
    text-align: center;
    font-family: 'Handjet', sans-serif;
    font-size: 65px;
    color: #132fba;
    padding-top: 60px;
    padding-bottom: 55px;
    letter-spacing: 2px;
}

.box {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 15px;
    background-color: green; */
    display: flex;
    flex-direction: row;
    align-content: center;
    /* margin-left: -12%;
    margin-right: -14%; */
    /* background-color: red; */
}

.cell{
    /* padding: 20px;
    margin: 10px;
    object-fit: contain;
	width: 25%;
    border-radius: 15px;
    background-color: red; */
    width: 50%;
    margin: auto;
    padding-top: 2%;
    padding-left: 1%;
    /* background-color: green; */
}

#gif {
    /* width: 75%; */
    width: 65%;
    margin: 0% 20%;
    /* background-color: yellow; */
}

#splash-text {
    margin-right: 10%;
    /* background-color: green; */
}

header img {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 35px;
    max-width: 95px;
}

.profile-img {
    display: flex;
    flex-direction: row;
    max-width: 35%;
}

h2 {
    display: flex;
    flex-direction: column;
    font-family: 'Handjet', sans-serif;
    text-align: left;
    font-size: 90px;
    width: auto;
    color: #132fba;
    /* padding-top: 5%; */
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: #020c3d;
}

.bio-p {
    margin: 3% 15% 10% 15%;
}

li {
    display: inline;
}