h4 {
    font-family: 'Gruppo', sans-serif;
    font-size: 25px;
    display: inline-block;
    text-transform: uppercase;
    color: #132fba;
    width: fit-content;
    border: 2.25px solid #132fba;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 15px;
    margin: 0px 7% 10px 0%;
}

.ig-img {
    width: 20%;
    border-radius: 20px;
    margin: 20px;
}

.pinterest-p {
    padding-bottom: 5%;
    margin-top: 25px;
    margin-bottom: 35px;
    padding-right: 10%;
}

.pinterest-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    /* background-color: green; */
}

.text-cell{
    width: 25%;
    justify-content: left;
    /* margin: auto; */
    padding-top: 2%;
    /* padding-left: 1%; */
    /* background-color: red; */
}

.pinterest-img-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 75%;
    /* background-color: yellow; */
}

.pinterest-img-cell img {
    max-width: 95%;
    padding-left: 5%;
}


