h4 {
    font-family: 'Gruppo', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #132fba;
    width: fit-content;
    border: 2.25px solid #132fba;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 25px;
}

.pinterest-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.pinterest-p {
    padding: 0px 15% 2% 3%;
}

.ig-img {
    width: 20%;
    border-radius: 20px;
    margin: 20px;
}


